<ion-view>
  <ion-content>
    <form>
    <div class="row">
      <div class="col col-100">    
        <h1>Create a New Proposal</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Details</h3>
                  <label for="proposal-title" class="item item-input">
                    <span class="input-label">Proposal Title</span>
                     <input type="text" ng-model="proposal.title" name="proposal-title" id="proposal-title" size="50">
                    </label>
                    <label for="proposal-description" class="item item-input">
                        <span class="input-label">Description</span>
                        <textarea name="proposal-description" id="proposal-description" ng-model="proposal.description" rows="4" cols="80"></textarea>
                    </label>
                     <label for="request-due-date" class="item item-input">
                        <span class="input-label">Due Date</span>
                        <input type="date" name="proposal-due-date" id="proposal-due-date" ng-model="proposal.dueDate">
                    </label>
                     <label for="request-po-number" class="item item-input">
                        <span class="input-label">PO Number</span>
                        <input type="number" name="proposal-po-number" id="proposal-po-number" ng-model="proposal.poNumber">
                    </label>
        </div>
    </div>
   <div class="row">
        <div class="col"><h3>Items</h3></div>
    </div>
    <div class="row">
        <div class="col">
                <ion-item ng-repeat="item in proposal.items">
                    <p>Material Type: <span class="item-note">{{item.materialType}}</span></p>
                    <p>Process: <span class="item-note">{{item.process}}</span></p>
                    <p>Specifications: <span class="item-note">{{item.specifications}}</span></p>
                    <p>Description: <span class="item-note">{{item.description}}</span></p>
                    <p>Weight: <span class="item-note">{{item.weight}}</span></p>
                    <p>Length: <span class="item-note">{{item.length}}</span></p>
                    <p>Width: <span class="item-note">{{item.width}}</span></p>
                    <p>Quantity: <span class="item-note">{{item.quantity}}</span></p>
                    <p>Unit Price: <span class="item-note">{{item.unitPrice | currency }}</span></p>
                    <hr />
                    <p>Note:</p>
                    <p>{{item.note}}</p>
                </ion-item>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section>
                <button class="button button-block button-stable" 
                    ng-click="addItem()">Add Item</button>
            </section>
        </div>
    </div>
    <div class="row lastRow">
        <div class="col">
            <section>
                <a href="#/app/proposals/{{proposal.id}}" 
                    class="button button-block button-positive" 
                    ng-click="createProposal()">Review and Submit</a>
            </section>
        </div>
    </div>
    </form>
  </ion-content>
</ion-view>
