<!--<ion-header-bar class="bar-header bar-calm" name="headerContent">
<header name="headerBar">
      <div class="bar bar-header bar-dark">
          <div class="row">
              <div class="col col-80"><i class="icon ion-gear-a"></i> Material Supply Hub</div>
              <div class="col col-20" data-ng-controller="AppCtrl"><i class="icon ion-person"></i> {{ userName }}</div>
            </ion-row>
          </div>
</header>
</ion-header-bar>-->

<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>