<ion-view>
  <ion-content>
    <!-- logged out view -->
    <div ng-show="state.loggedIn == !true">
      <div class="row responsive-sm">
        <div class="col text-center bottom-pull">
          <h1>Welcome to Material Supply Hub.</h1>
            <p>The connection hub for material manufacturers and suppliers</p>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col col-10"></div>
        <div class="col col-40">    
        <ion-slide-box>
            <ion-slide>
              <div>   
                <p><img src="img/process.png" ng-click="nextSlide()"></p>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">   
                <p><img src="img/process2.png" ng-click="nextSlide()"></p>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">   
                <p><img src="img/process3.png" ng-click="nextSlide()"></p>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">   
                <p><img src="img/process4.png" ng-click="nextSlide()"></p>
              </div>
            </ion-slide>
          </ion-slide-box>
          </div>
          <div class="col col-30"> 
            <h2>Login</h2>
              <p>
                Existing users please login.
              </p>
              <button class="button button-block button-positive" ng-click="login()">
                Login
              </button>
              <h3>Not a member?</h3>
                <ion-item class="border-none" menu-close href="#/app/create-profile">
                  Create a profile <i class="ion-chevron-right"></i>
                </ion-item>
                <ion-item class="border-none" menu-close href="#/app/about">
                  Learn more about MSH <i class="ion-chevron-right"></i>
                </ion-item>
          </div>
          <div class="col col-10"></div>
      </div>
    </div>
    <!-- /logged out view -->
    <!-- logged in -->
    <div ng-show="state.loggedIn == true" class="row responsive-sm">
      <!-- left col -->
      <div class="col col-25">
        <!-- my profile -->
        <div ng-controller="ProfileCtrl" class="list card">
          <ion-item>
                <span class="component-title">My Details</span>
              </ion-item>
                <div class="item item-avatar">
                   <img ng-src={{profile.logo}} class="profile-logo" />
                  <h2>{{profile.company}}</h2>
                  <p>{{profile.address1}}</p> 
                  <p>{{profile.address2}}</p> 
                  <p>{{profile.city}}, {{profile.state }}, {{profile.zip}}</p>
                  <p>{{profile.country}}</p> 
                  <hr />
                  <p>{{profile.phone}}</p>
                  <p>{{profile.email}}</p>
                  <hr />
                  <p><strong>My Rating:</strong> <br /><i class="icon ion-android-star energized"></i>
                      <i class="icon ion-android-star energized"></i>
                      <i class="icon ion-android-star energized"></i>
                      <i class="icon ion-android-star energized"></i>
                      <i class="icon ion-android-star-outline energized"></i>
                    </p>
                </div>
        </div>
        <!-- my capabilities -->
          <div class="list card">
              <ion-item>
                <span class="component-title">My Capabilities</span>
              </ion-item>
                  <div ng-controller="ProfileCtrl">
                    <ion-item class="border-none" ng-repeat="capability in capabilities">
                      <button class="button text-small icon-left ion-close button-stable">{{capability.title}}</button>
                    </ion-item>
                    <ion-item>
                      <span>Add Capabilities</span>
                      <span class="item-input-inset">
                        <label class="item-input-wrapper">
                          <i class="icon fa fa-search placeholder-icon"></i>
                          <input type="text" placeholder="Search for capabilities">
                        </label>
                      </span>
                      </ion-item>
              </div>
          </div> 
          <!-- /my capabilities -->
      </div>
      <!-- /left col -->
      <!-- right col -->
      <div class="col col-75">
        <!-- actions -->
        <div ng-controller="ProfileCtrl" class="list card">
          <ion-item class="item"><span class="component-title">Dashboard</span></ion-item>
         <div class="item-body">
                     <span class="item item-horizontal padding-horizontal" ng-if="profile.type == 'manufacturer'">
                      <button class="button button-positive">{{profile.drafts}}</button>
                      <a class="button button-clear button-dark" href="#">Drafts</a>
                    </span>
                    <span class="item item-horizontal padding-horizontal" ng-if="profile.type == 'manufacturer'">
                      <button class="button button-calm" ng-controller="ProposalsCtrl" >{{proposals.length}}</button>
                      <a class="button button-clear button-dark" href="#">Submitted</a>
                    </span>
                     <span class="item item-horizontal padding-horizontal" ng-if="profile.type == 'supplier'">
                      <button class="button button-calm" ng-controller="ProposalsCtrl" >{{proposals.length}}</button>
                      <a class="button button-clear button-dark" href="#">Received</a>
                    </span>
                    <span class="item item-horizontal padding-horizontal">
                      <button class="button button-balanced">{{profile.accepted}}</button>
                      <a class="button button-clear button-dark" href="#">Accepted</a>
                    </span>
                     <span class="item item-horizontal padding-horizontal" ng-if="profile.type == 'supplier'">
                      <button class="button button-assertive">{{profile.accepted}}</button>
                      <a class="button button-clear button-dark" href="#">Denied</a>
                    </span>
                    <span class="item item-horizontal padding-horizontal">
                      <button class="button button-energized">{{profile.quoting}}</button>
                      <a class="button button-clear button-dark" href="#">Quoting</a>
                    </span>
                    <span class="item item-horizontal padding-horizontal">
                     <button class="button button-royal">{{profile.awarded}}</button>
                      <a class="button button-clear button-dark" href="#">Awarded</a>
                    </span>
                    <!-- communications -->
                      <span class="item item-horizontal padding-horizontal">
                      <button class="button button-assertive">3</button>
                      <a class="button button-clear button-dark" href="#">Messages</a>
                    </span>
                      <!-- /communications -->
          </div>
        </div>
        <!-- /actions -->
        <!--  my proposal -->
          <div class="list card">
            <ion-item class="item">
              <span class="right">
                <a class="button button-small button-positive" href="#/app/create-proposal">
                      <i class="icon ion-ios-plus-empty"></i>
                        New Proposal
                   </a>
              </span>
              <span class="component-title">My Proposals</span>
            </ion-item>
            <div class="item-body">
                  <ion-list ng-controller="ProposalsCtrl">
                    <span ng-if="proposals.length <= 0">You have no proposals. Please add a proposal with the button to the right.</span>
                      <ion-item class="item-remove-animate item-avatar item-icon-right" 
                          ng-repeat="proposal in proposals" 
                          type="item-text-wrap" 
                          href="#/app/proposals/{{proposal.id}}">
                          <img ng-src="{{proposal.face}}">
                          <h2>{{proposal.title}}</h2>
                          <p>{{proposal.type}} <span class="right strong">{{proposal.amount | currency}}</span></p>
                          <p>Status {{proposal.status}}</p>
                          <i class="icon ion-chevron-right icon-accessory"></i>
                      </ion-item>
                  </ion-list>
            </div>
          </div>     
          <!-- /my proposals -->   
           <!--  activity feed -->
          <div class="list card" ng-controller="ProfileCtrl">
               <ion-item class="item">
                 <span class="component-title">Activity Feed</span></ion-item>
              </ion-item>
          <div class="item-body">
                  <ion-list>
                      <ion-item class="item-remove-animate" 
                          ng-repeat="item in feed" 
                          type="item-text-wrap" 
                          href="#">
                          <p>{{item.title}}</p>
                      </ion-item>
                  </ion-list>
            </div>
          </div>     
          <!-- /activity feed --> 
           <!--  activity feed -->         
            <div class="list card" ng-controller="ProfileCtrl">
               <ion-item class="item">
                 <span class="component-title">My Widgets</span></ion-item>
              </ion-item>

            <div class="item-body">
                 <span class="item item-horizontal padding-horizontal">
                      <button class="button button-positive"><i class="icon ion-stats-bars"></i></button>
                      <a class="button button-clear button-dark" href="#">Average Steel Price</a>
                  </span>
                  <span class="item item-horizontal padding-horizontal">
                      <button class="button button-positive"><i class="icon ion-pie-graph"></i></button>
                      <a class="button button-clear button-dark" href="#">Sales by Region</a>
                  </span>
                  <span class="item item-horizontal padding-horizontal">
                      <button class="button button-positive"><i class="icon ion-arrow-graph-up-right"></i></button>
                      <a class="button button-clear button-dark" href="#">Progress</a>
                  </span>         
            </div>
          </div>     
          <!-- /activity feed --> 
      </div>
    <!-- /right col -->
  </div>
<!-- /logged in view -->
  </ion-content>
</ion-view>
