<ion-view>
    <ion-content overflow-scroll="false">
        <!-- logged out view -->
        <div ng-show="state.loggedIn == !true">
            <div class="row responsive-sm">
                <div class="col text-center bottom-pull">
                    <h1>Welcome to Material Supply Hub.</h1>
                    <p>The connection hub for material manufacturers and suppliers</p>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-10"></div>
                <div class="col col-40">
                    <ion-slide-box>
                        <ion-slide>
                            <div>
                                <p><img src="img/process.png" ng-click="nextSlide()"></p>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box blue">
                                <p><img src="img/process2.png" ng-click="nextSlide()"></p>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box blue">
                                <p><img src="img/process3.png" ng-click="nextSlide()"></p>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box blue">
                                <p><img src="img/process4.png" ng-click="nextSlide()"></p>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
                <div class="col col-30">
                    <h2>Login</h2>
                    <p>
                        Existing users please login.
                    </p>
                    <button class="button button-block button-positive" ng-click="login()">
                Login
              </button>
                    <h3>Not a member?</h3>
                    <ion-item class="border-none" menu-close href="#/app/create-profile">
                        Create a profile <i class="ion-chevron-right"></i>
                    </ion-item>
                    <ion-item class="border-none" menu-close href="#/app/about">
                        Learn more about MSH <i class="ion-chevron-right"></i>
                    </ion-item>
                </div>
                <div class="col col-10"></div>
            </div>
        </div>
        <!-- /logged out view -->
        <!-- logged in not admin -->
        <div ng-show="((state.loggedIn == true) && (state.admin != true))" class="row responsive-sm">
            <!-- left col -->
            <div class="col col-25" style="margin-top: -40px;">
                <!-- my profile -->
                <div ng-controller="ProfileCtrl" class="list card">
                    <ion-item class="component-title">
                        My Details
                    </ion-item>
                    <ion-item class="item item-avatar">
                        <img ng-src={{profile.logo}} class="profile-logo" />
                        <h2>{{profile.company}}</h2>
                        <p>{{profile.address1}}</p>
                        <p>{{profile.address2}}</p>
                        <p>{{profile.city}}, {{profile.state }}, {{profile.zip}}</p>
                        <p>{{profile.country}}</p>
                    </ion-item>
                    <ion-item>
                        <p>{{profile.phone}}</p>
                        <p>{{profile.email}}</p>
                    </ion-item>
                    <ion-item>
                        <p><strong>My Rating:</strong> <br /><i class="icon ion-android-star energized"></i>
                            <i class="icon ion-android-star energized"></i>
                            <i class="icon ion-android-star energized"></i>
                            <i class="icon ion-android-star energized"></i>
                            <i class="icon ion-android-star-outline energized"></i>
                        </p>
                    </ion-item>

                </div>
                <!-- my capabilities -->
                <div class="list card">
                    <ion-item class="component-title">
                        My Capabilities
                    </ion-item>
                    <div ng-controller="ProfileCtrl">
                        <ion-item class="border-none capability-item" ng-repeat="capability in capabilities">
                            <button class="button button-small text-small button-stable">
                                <i class="icon ion-close"></i> {{capability.title}}</button>
                        </ion-item>
                        <ion-item style="padding-left: 0;">
                            <span>Add Capabilities</span>
                            <span class="item-input-inset">
                        <label class="item-input-wrapper">
                          <i class="icon fa fa-search placeholder-icon"></i>
                          <input type="text" placeholder="Search for capabilities">
                        </label>
                      </span>
                        </ion-item>
                    </div>
                </div>
                <!-- /my capabilities -->
            </div>
            <!-- /left col -->
            <!-- right col -->
            <div class="col col-50" style="margin-top: -40px;">
                <!-- actions -->
                <div ng-controller="ProfileCtrl" class="list card">
                    <ion-item class="item component-title">Dashboard</ion-item>
                    <div class="item-body">
                        <span class="item item-horizontal padding-horizontal align-center" ng-if="profile.type == 'manufacturer'">
                            <button class="button button-positive">{{profile.drafts}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">Drafts</a>
                        </span>
                        <span class="item item-horizontal padding-horizontal align-center" ng-if="profile.type == 'manufacturer'">
                            <button class="button button-calm" ng-controller="ProposalsCtrl" >{{proposals.length}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">Submitted</a>
                        </span>
                        <span class="item item-horizontal padding-horizontal align-center" ng-if="profile.type == 'supplier'">
                            <button class="button button-calm" ng-controller="ProposalsCtrl" >{{proposals.length}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">New</a>
                        </span>
                        <span class="item item-horizontal padding-horizontal align-center">
                            <button class="button button-balanced">{{profile.accepted}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">Accepted</a>
                        </span>
                        <span class="item item-horizontal padding-horizontal align-center" ng-if="profile.type == 'supplier'">
                            <button class="button button-assertive">{{profile.accepted}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">Denied</a>
                        </span>
                        <span class="item item-horizontal padding-horizontal align-center">
                            <button class="button button-energized">{{profile.quoting}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">Quoting</a>
                        </span>
                        <span class="item item-horizontal padding-horizontal align-center">
                            <button class="button button-royal">{{profile.awarded}}</button>
                            <br />
                            <a class="button button-clear button-dark" href="#">Awarded</a>
                        </span>
                    </div>
                </div>
                <!-- /actions -->
                <!--  my proposal -->
                <div class="list card">
                    <ion-item class="item component-title">
                        <span class="right" ng-if="profile.type == 'manufacturer'" ng-controller="NewProposalCtrl">
                        <button class="button button-small button-positive" ng-click="clearForm()">
                            <i class="icon ion-ios-plus-empty"></i>
                                New Proposal
                        </button>
                        </span>
                        <span ng-if="profile.type == 'manufacturer'">My Proposals</span>
                        <span ng-if="profile.type == 'supplier'">Received Proposals</span>
                    </ion-item>
                    <div class="item-body">
                        <ion-list ng-controller="ProposalsCtrl">
                            <span ng-if="proposals.length <= 0">You have no proposals. Please add a proposal with the button to the right.</span>
                            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="proposal in proposals" type="item-text-wrap" href="#/app/proposals/{{proposal.id}}">
                                <img ng-src="{{proposal.face}}">
                                <h2>{{proposal.title}}</h2>
                                <p>{{proposal.type}} <span class="right strong">{{proposal.amount | currency}}</span></p>
                                <p>Status {{proposal.status}}</p>
                                <i class="icon ion-chevron-right icon-accessory"></i>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <!-- /my proposals -->
                <!--  widgets-->
                <div class="list card" ng-controller="ProfileCtrl">
                    <ion-item class="item component-title">
                        Average Steel Price
                    </ion-item>
                    <div class="item-body">
                        <span class="item item-horizontal padding-horizontal">
                           <img src="img/dashboard-widget-7-days.png" />
                        </span>
                    </div>
                </div>

                <div class="list card" ng-controller="ProfileCtrl">
                    <ion-item class="item component-title">
                        Sales as of {{ todaysDate | date }}
                    </ion-item>
                    <div class="item-body">
                        <span class="item item-horizontal padding-horizontal">
                                <img src="img/dashboard-widget-sales.png" />
                            </span>
                    </div>
                </div>

                <div class="list card" ng-controller="ProfileCtrl">
                    <ion-item class="item component-title">
                        Sales by Region
                    </ion-item>
                    <div class="item-body">
                        <span class="item item-horizontal padding-horizontal">
                                        <img src="img/dashboard-widget-regions.png" />
                                </span>
                    </div>
                </div>

                <!-- /widgets -->
            </div>
            <div class="col col-25" style="margin-top: -40px;">
                <!-- communications -->
                <div class="list card">
                    <ion-item class="item component-title">
                        Messages
                    </ion-item>
                    <span class="item">
                    <button class="button button-assertive" data-ng-controller="ProposalsCtrl">{{proposals.length}}</button>
                    <a class="button button-clear button-dark" href="#">Messages</a>
                    </span>
                </div>
                <!-- /communications -->
                <!--  activity feed -->
                <div class="list card" ng-controller="ProfileCtrl">
                    <ion-item class="item component-title">
                        Activity Feed
                    </ion-item>
                    <div class="item-body">
                        <ion-list>
                            <ion-item class="item-remove-animate" ng-repeat="item in feed" type="item-text-wrap" href="#">
                                <p>{{item.title}}</p>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
            <!-- /activity feed -->

            <!-- /right col -->
        </div>
        <!-- /logged in view -->
        <!-- logged in admin view -->
        <div ng-show="((state.loggedIn == true) && (state.admin == true))" class="responsive-sm" style="padding: 10px;" ng-controller="MaterialsDatabaseCtrl">

            <button class="button text-small button-stable">Add <i class="fa fa-plus-circle"></i></button>
            <br />
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Material Type</th>
                        <th>Material Process</th>
                        <th>Material Specification</th>
                        <th>Material Description</th>
                        <th>Material Weight</th>
                    </tr>
                    <tr ng-repeat="material in materials">
                        <td>{{material.id}}</td>
                        <td>{{material.type}}</td>
                        <td>{{material.process}}</td>
                        <td>{{material.specifications}}</td>
                        <td>{{material.description}}</td>
                        <td>{{material.weight}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- /logged in admin view -->
    </ion-content>
</ion-view>