<ion-view>
    <ion-content overflow-scroll="true">
        <div class="row responsive-sm">
            <div class="col">
                <h1>Review Proposal</h1>
            </div>
        </div>
        <div class="row responsive-sm">
            <!-- side panel -->
            <div class="col col-20">
                <h3>Details</h3>
                <p><strong>Requester:</strong>
                    <span>{{proposal.contact}}</span>
                </p>
                <p><strong>ID:</strong> {{proposal.id}}</p>
                <p><strong>Title:</strong> {{proposal.title}}</p>
                <p><strong>Description:</strong> {{proposal.description}}</p>
                <p><strong>Due Date:</strong> {{proposal.dueDate | date}}</p>
                <p><strong>PO Number:</strong> {{proposal.poNumber | number}}</p>
                <p><strong>Items:</strong> {{(proposal.items).length | number}}</p>
                <p><strong>Vendors:</strong> {{(proposal.vendors).length | number}}</p>
            </div>
            <!-- /side panel -->
            <!-- begin proposal -->
            <div class="col col-80">
                <div class="row">
                    <div class="col">
                        <h3>Materials</h3>
                        <ion-item ng-repeat="item in proposal.items" ng-if="(item.type == 'material')" class="card">
                            <h4 class="card-title">{{item.materialType}}</h4>
                            <br />
                            <p><strong>Item Type:</strong> <span class="right">{{item.type}}</span></p>
                            <p><strong>Process:</strong> <span class="right">{{item.process}}</span></p>
                            <p><strong>Specifications:</strong> <span class="right">{{item.specifications}}</span></p>
                            <p><strong>Description:</strong> <span class="right">{{item.description}}</span></p>
                            <p><strong>Weight:</strong> <span class="right">{{item.weight | number}} lbs</span></p>
                            <p><strong>Length:</strong> <span class="right">{{item.length | number}} ft</span></p>
                            <p><strong>Width:</strong> <span class="right">{{item.width | number}} ft</span></p>
                            <hr />
                            <span class="right"><strong>Unit Price: </strong> <span class="right"  style="margin-left: 20px;">{{item.unitPrice | currency}}</span></span>

                            <span ng-if="item.note.length > 0">
                            <br />
                            <hr>
                            <p><strong>Notes:</strong></p>
                            <p>{{item.note}} </p></span>
                        </ion-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Parts</h3>

                        <ion-item ng-repeat="item in proposal.items" ng-if="(item.type == 'part')" class="card">
                            <h4 class="card-title">{{item.partType}}</h4>
                            <br />
                            <p><strong>Item Type:</strong> <span class="right">{{item.type}}</span></p>
                            <p><strong>Part Make:</strong> <span class="right">{{item.partMake}}</span></p>
                            <p><strong>Description:</strong> <span class="right">{{item.description}}</span></p>

                            <p><strong>Quantity:</strong> <span class="right">{{item.quantity| number}}</span></p>
                            <hr />
                            <span class="right"><strong>Unit Price: </strong> <span class="right"  style="margin-left: 20px;">{{item.unitPrice | currency}}</span></span>

                            <span ng-if="item.note.length > 0">
                                <br />
                                <hr>
                                <p><strong>Notes:</strong></p>
                                <p>{{item.note}} </p></span>
                        </ion-item>
                    </div>
                </div>
                <!-- -->
                <span ng-if="(proposal.vendors).length > 0">
            <div class="row">
                <div class="col">
                    <h3>Suppliers</h3>
                    <ion-item ng-repeat="vendor in proposal.vendors" class="card">
                        <div class="card-title">
                            <form class="right">
                            <input type="checkbox" checked />
                            <label>Include on proposal</label>
                        </form>
                         <h4 >{{vendor.company}}</h4>
                        </div>
                       
                            <br />
                            <p><strong>Contact Name:</strong> <span class="right"> {{vendor.contact}}</span></p>
                <p><strong>Supplier Capabilities:</strong> <span class="right">{{vendor.materialType}}, {{vendor.partType}}</span></p>


                </p>
                </ion-item>
            </div>
        </div>
        </span>
        <!-- -->
        <span ng-if="(proposal.vendors).length === 0">
            <div class="row">
                <div class="col">
                    <p><i class="icon ion-alert-circled energized"></i>There are no suppliers saved to this proposal.</p>
                    <p> Click or tap the add vendors button to select suppliers to include on this proposal.</p>
                    <section>
                        <a href="#/app/proposals/{{proposal.id}}/vendors" class="button button-block button-positive" ng-click="selectVendors()">Add Suppliers</a>
                    </section>
                </div>
            </div>
    </span>
        <div class="row">
            <div class="col">
                <section>
                    <button class="button button-block button-outline button-assertive" ng-click="remove()">Cancel Proposal</button>
                </section>
            </div>
        </div>
        </div>
        <!-- /end proposal -->
        </div>
    </ion-content>
</ion-view>